body{
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    background-image: url("table.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.title{
    color: goldenrod;
    text-shadow: black;
}
